.signin-container {
  display: flex;
  flex-direction: column;
  margin: 100px 28px 0px 28px;
  text-align: center;
  justify-content: center;
  background: #edeaea;
  border-radius: 5px;
  padding-bottom: 15px;
  border: 1px solid grey;
  box-shadow: 5px 5px 2px thistle;
}

.signin-header {
  background: #fc9f9f;
  border-bottom: 1px solid black;
}

.signin-container button {
  padding: 8px;
  width: 150px;
}
