.botchat {
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0px auto;
}

.react-chatbot-kit-chat-header {
  background: #fc9f9f;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.react-chatbot-kit-chat-bot-message {
  margin: 0px;
  border-radius: 18px;
  padding: 15px;
  border: 1px solid darkgrey;
  font-size: 20px;
}

.react-chatbot-kit-user-chat-message {
  font-size: 20px;
  border-radius: 18px;
  border: 1px solid black;
  padding: 15px;
  background-color: white;
}

.react-chatbot-kit-chat-container {
  border: 1px solid black;
  box-shadow: 5px 5px 2px thistle;
  border-radius: 8px;
  height: 85%;
  position: relative;
  width: 90%;
  margin-bottom: 20px;
}

.chatcomponent {
  text-align: center;
}

.react-chatbot-kit-chat-btn-send {
  margin-bottom: 0;
}

.instructions {
  text-align: center;
}

.instruction {
  font-weight: bolder;
  color: #fc5d5d;
}

@media all and (min-width: 800px) {
  .react-chatbot-kit-chat-container {
    height: 100%;
    width: 50%;
  }
}
