.feelings-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.feelings {
  padding: 12px;
  border-radius: 25px;
  background: lightgrey;
  border: 2.5px solid #008c76ff;
  margin-left: 20px;
  color: black;
}
