@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");

body {
  font-family: "Hachi Maru Pop", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/images/y-so-serious-white.png");
  background-size: 100%;
  font-weight: 500;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
